@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'HUN DIN 1451';
  src: url('/fonts/hun-din-1451/HunDIN1451.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Other global styles */

body {
  font-family: 'HUN DIN 1451', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.canvas-container { /* Make the container take full viewport height */
  background-color: #1C263E; /* Set a background color if needed */
}

.controls {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.fbx-container {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.fbx-container.visible {
  width: 50vh;
  max-height: 100vh; /* Adjust this to fit your content */
  opacity: 1;
}

